/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

main {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 0vh;
    height: 100vh;
    justify-content: center;
}

.login-img-wrap {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(136,54,255,1) 0%, rgba(54,186,255,1) 100%);
}

.login-img-wrap a {
    color: white;
    font-size: 5rem;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
}

.form-wrap {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.log-form {
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* background-color: rgb(198, 199, 216); */
    border: 1px solid gray;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem 0
}

.log-form p {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

.login-result {
    color: red;
    font-weight: bold;
}

.input-field {
    /* border: none */
    outline: none;
    size: 1.5rem;
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    border: 1px solid gray
}

.input-field:focus {
    outline: blue !important;
}

#login_signup_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#login_signup_container p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    width: 80%;
    height: 3rem;
    /* background-color: rgb(98, 139, 102); */
    background: linear-gradient(90deg, rgba(136,54,255,1) 0%, rgba(54,186,255,1) 100%);
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    /* border: 1px solid black; */
    transition: ease-in-out 0.9s;
    border-radius: 1rem;
    font-size: 1rem;
}

#sign_up_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(136,54,255,1);
}
