/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    padding: 0
}

html {
    /* background-color: rgb(48, 66, 87); */
    background: white;
}



/* Header */

.header {
    background: rgb(136,54,255);
    background: linear-gradient(90deg, rgba(136,54,255,1) 0%, rgba(54,186,255,1) 100%);
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white
}

#header_logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_logo a{
    color: white;
    font-size: 1.5rem;
    font-family: 'Gloria Hallelujah', cursive;
}

#search_bar{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_search_bar {
    outline: none;
    size: 1.5rem;
    width: 20%;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    border: 1px solid gray
    /* rgb(221, 153, 153) */
}

#main_search_bar::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#user_info {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#user_info p {
    cursor: pointer;
    color: white
}

#user_info a {
    cursor: pointer;
    color: white
}

#user_info img {
    height: 4vh;
    width: 4vh;
    object-fit: cover;
    border-radius: 2vh;
    cursor: pointer;
}

/* Main section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    min-height: 80vh;
    /* background-color: rgb(48, 66, 87); */
    background: white;
}
