* {
    --content-width: min(80rem, 100%);
    --content-background: rgb(37, 37, 42)
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.user-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--content-width);
    padding: 1rem 0;
    height: 200px;
}

.avatar-username-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.user-avatar {
    width: 150px;
    object-fit: cover;
    border-radius: 75px;
}

.detail-user-info {
    flex: 1;
    display: flex;
    /* background-color: red; */
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.username {
    font-weight: bold;
}

.post-feed {
    width: var(--content-width);
    flex-wrap: wrap;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.user-post {
    width: 33.3%;
    aspect-ratio: 1;
    /* background-color: rgb(69, 41, 41); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */
}

.post-img {
    width: 80%;
    aspect-ratio: 1;
}